@using Abc.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}
<div class="container pb-5">
    <div class="row">

        <div class="col-md-3">
           @Html.Action("GetCategories","Home")
        </div>
        <div class="col-md-9">

            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa-solid fa-exclamation"></i>
                    Bu Kategoride Geri Dönüşüm Ürünü Bulunamadı.
                </div>
            }
            else
            {
        <div class="alert alert-warning" role="alert">
            <i class="fa-solid fa-badge-check"></i>
            Geri Dönüşüme Hazır <strong> @Model.Count() Adet </strong>  Ürün Bulundu.
        </div>
            }

            @Html.Partial("_ProductList", Model)
        </div>
    </div>
</div>
