@using Abc.MvcWebUI.Models;
@model IEnumerable<ProductModel>

<div class="row">


    @foreach (var urun in Model)
    {
        <div class="col-md-4 mb-2">

            <div class="card">
                <img class="card-img-top" src="/Upload/@urun.Image" alt="@urun.Name">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Home/Details/@urun.Id"> @urun.Name </a>
                    </h5>
                    <p class="card-text pt-2 description">@urun.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        <i class="fa-brands fa-bitcoin"></i>
                    @urun.Price </small>
                    <a href="/Home/Details/@urun.Id" class="btn btn-primary btn-sm float-right">
                        <i class="fa-solid fa-angles-right"></i>
                        Geri Dönüşümü İncele
                    </a>

                </div>
            </div>
        </div>
    }
</div>
