@model Abc.MvcWebUI.Models.Cart

<style>
    #cart{
        color:white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
        <li id="cart" class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
            (@Model.CartLines.Count)
        </li>

</ul>